src/config/seeds/data/calendar_check.json
{
  "name": "Calendar Availability Check",
  "flow": [
    {
      "id": 1,
      "module": "gateway:CustomWebHook",
      "version": 1,
      "parameters": {
        "hook": 139211,
        "maxResults": 1
      },
      "mapper": {},
      "metadata": {
        "designer": {
          "x": 0,
          "y": 150
        },
        "restore": {
          "parameters": {
            "hook": {
              "data": {
                "editable": "true"
              },
              "label": "adora_availability"
            }
          }
        },
        "parameters": [
          {
            "name": "hook",
            "type": "hook:gateway-webhook",
            "label": "Webhook",
            "required": true
          },
          {
            "name": "maxResults",
            "type": "number",
            "label": "Maximum number of results"
          }
        ],
        "interface": [
          {
            "name": "message",
            "spec": [
              {
                "name": "timestamp",
                "type": "number"
              },
              {
                "name": "type",
                "type": "text"
              },
              {
                "name": "toolCalls",
                "spec": {
                  "spec": [
                    {
                      "name": "id",
                      "type": "text"
                    },
                    {
                      "name": "type",
                      "type": "text"
                    },
                    {
                      "name": "function",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text"
                        },
                        {
                          "name": "arguments",
                          "spec": [
                            {
                              "name": "date",
                              "type": "text"
                            },
                            {
                              "name": "time",
                              "type": "text"
                            },
                            {
                              "name": "email",
                              "type": "text"
                            }
                          ],
                          "type": "collection"
                        }
                      ],
                      "type": "collection"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array"
              },
              {
                "name": "toolCallList",
                "spec": {
                  "spec": [
                    {
                      "name": "id",
                      "type": "text"
                    },
                    {
                      "name": "type",
                      "type": "text"
                    },
                    {
                      "name": "function",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text"
                        },
                        {
                          "name": "arguments",
                          "spec": [
                            {
                              "name": "date",
                              "type": "text"
                            },
                            {
                              "name": "time",
                              "type": "text"
                            },
                            {
                              "name": "email",
                              "type": "text"
                            }
                          ],
                          "type": "collection"
                        }
                      ],
                      "type": "collection"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array"
              },
              {
                "name": "toolWithToolCallList",
                "spec": {
                  "spec": [
                    {
                      "name": "type",
                      "type": "text"
                    },
                    {
                      "name": "function",
                      "spec": [
                        {
                          "name": "name",
                          "type": "text"
                        },
                        {
                          "name": "async",
                          "type": "boolean"
                        },
                        {
                          "name": "parameters",
                          "spec": [
                            {
                              "name": "type",
                              "type": "text"
                            },
                            {
                              "name": "properties",
                              "spec": [
                                {
                                  "name": "date",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text"
                                    },
                                    {
                                      "name": "description",
                                      "type": "text"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                {
                                  "name": "name",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text"
                                    },
                                    {
                                      "name": "description",
                                      "type": "text"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                {
                                  "name": "time",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text"
                                    },
                                    {
                                      "name": "description",
                                      "type": "text"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                {
                                  "name": "email",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text"
                                    },
                                    {
                                      "name": "description",
                                      "type": "text"
                                    }
                                  ],
                                  "type": "collection"
                                }
                              ],
                              "type": "collection"
                            }
                          ],
                          "type": "collection"
                        },
                        {
                          "name": "description",
                          "type": "text"
                        }
                      ],
                      "type": "collection"
                    },
                    {
                      "name": "async",
                      "type": "boolean"
                    },
                    {
                      "name": "server",
                      "spec": [
                        {
                          "name": "url",
                          "type": "text"
                        }
                      ],
                      "type": "collection"
                    },
                    {
                      "name": "messages",
                      "type": "array"
                    },
                    {
                      "name": "toolCall",
                      "spec": [
                        {
                          "name": "id",
                          "type": "text"
                        },
                        {
                          "name": "type",
                          "type": "text"
                        },
                        {
                          "name": "function",
                          "spec": [
                            {
                              "name": "name",
                              "type": "text"
                            },
                            {
                              "name": "arguments",
                              "spec": [
                                {
                                  "name": "date",
                                  "type": "text"
                                },
                                {
                                  "name": "time",
                                  "type": "text"
                                },
                                {
                                  "name": "email",
                                  "type": "text"
                                }
                              ],
                              "type": "collection"
                            }
                          ],
                          "type": "collection"
                        }
                      ],
                      "type": "collection"
                    }
                  ],
                  "type": "collection"
                },
                "type": "array"
              },
              {
                "name": "artifact",
                "spec": [
                  {
                    "name": "messages",
                    "spec": {
                      "spec": [
                        {
                          "name": "role",
                          "type": "text"
                        },
                        {
                          "name": "message",
                          "type": "text"
                        },
                        {
                          "name": "time",
                          "type": "number"
                        },
                        {
                          "name": "secondsFromStart",
                          "type": "number"
                        }
                      ],
                      "type": "collection"
                    },
                    "type": "array"
                  },
                  {
                    "name": "messagesOpenAIFormatted",
                    "spec": {
                      "spec": [
                        {
                          "name": "role",
                          "type": "text"
                        },
                        {
                          "name": "content",
                          "type": "text"
                        }
                      ],
                      "type": "collection"
                    },
                    "type": "array"
                  }
                ],
                "type": "collection"
              },
              {
                "name": "call",
                "spec": [
                  {
                    "name": "id",
                    "type": "text"
                  },
                  {
                    "name": "orgId",
                    "type": "text"
                  },
                  {
                    "name": "createdAt",
                    "type": "text"
                  },
                  {
                    "name": "updatedAt",
                    "type": "text"
                  },
                  {
                    "name": "type",
                    "type": "text"
                  },
                  {
                    "name": "monitor",
                    "spec": [
                      {
                        "name": "listenUrl",
                        "type": "text"
                      },
                      {
                        "name": "controlUrl",
                        "type": "text"
                      }
                    ],
                    "type": "collection"
                  },
                  {
                    "name": "webCallUrl",
                    "type": "text"
                  },
                  {
                    "name": "status",
                    "type": "text"
                  },
                  {
                    "name": "assistantId",
                    "type": "text"
                  },
                  {
                    "name": "assistantOverrides",
                    "spec": [
                      {
                        "name": "clientMessages",
                        "spec": {
                          "type": "text"
                        },
                        "type": "array"
                      }
                    ],
                    "type": "collection"
                  }
                ],
                "type": "collection"
              },
              {
                "name": "assistant",
                "spec": [
                  {
                    "name": "id",
                    "type": "text"
                  },
                  {
                    "name": "orgId",
                    "type": "text"
                  },
                  {
                    "name": "name",
                    "type": "text"
                  },
                  {
                    "name": "voice",
                    "spec": [
                      {
                        "name": "voiceId",
                        "type": "text"
                      },
                      {
                        "name": "provider",
                        "type": "text"
                      },
                      {
                        "name": "stability",
                        "type": "number"
                      },
                      {
                        "name": "similarityBoost",
                        "type": "number"
                      },
                      {
                        "name": "fillerInjectionEnabled",
                        "type": "boolean"
                      }
                    ],
                    "type": "collection"
                  },
                  {
                    "name": "createdAt",
                    "type": "text"
                  },
                  {
                    "name": "updatedAt",
                    "type": "text"
                  },
                  {
                    "name": "model",
                    "spec": [
                      {
                        "name": "model",
                        "type": "text"
                      },
                      {
                        "name": "toolIds",
                        "spec": {
                          "type": "text"
                        },
                        "type": "array"
                      },
                      {
                        "name": "messages",
                        "spec": {
                          "spec": [
                            {
                              "name": "role",
                              "type": "text"
                            },
                            {
                              "name": "content",
                              "type": "text"
                            }
                          ],
                          "type": "collection"
                        },
                        "type": "array"
                      },
                      {
                        "name": "provider",
                        "type": "text"
                      },
                      {
                        "name": "knowledgeBase",
                        "spec": [
                          {
                            "name": "topK",
                            "type": "number"
                          },
                          {
                            "name": "fileIds",
                            "spec": {
                              "type": "text"
                            },
                            "type": "array"
                          },
                          {
                            "name": "provider",
                            "type": "text"
                          }
                        ],
                        "type": "collection"
                      },
                      {
                        "name": "tools",
                        "spec": {
                          "spec": [
                            {
                              "name": "id",
                              "type": "text"
                            },
                            {
                              "name": "createdAt",
                              "type": "text"
                            },
                            {
                              "name": "updatedAt",
                              "type": "text"
                            },
                            {
                              "name": "type",
                              "type": "text"
                            },
                            {
                              "name": "function",
                              "spec": [
                                {
                                  "name": "name",
                                  "type": "text"
                                },
                                {
                                  "name": "async",
                                  "type": "boolean"
                                },
                                {
                                  "name": "parameters",
                                  "spec": [
                                    {
                                      "name": "type",
                                      "type": "text"
                                    },
                                    {
                                      "name": "properties",
                                      "spec": [
                                        {
                                          "name": "date",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "text"
                                            },
                                            {
                                              "name": "description",
                                              "type": "text"
                                            }
                                          ],
                                          "type": "collection"
                                        },
                                        {
                                          "name": "name",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "text"
                                            },
                                            {
                                              "name": "description",
                                              "type": "text"
                                            }
                                          ],
                                          "type": "collection"
                                        },
                                        {
                                          "name": "time",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "text"
                                            },
                                            {
                                              "name": "description",
                                              "type": "text"
                                            }
                                          ],
                                          "type": "collection"
                                        },
                                        {
                                          "name": "email",
                                          "spec": [
                                            {
                                              "name": "type",
                                              "type": "text"
                                            },
                                            {
                                              "name": "description",
                                              "type": "text"
                                            }
                                          ],
                                          "type": "collection"
                                        }
                                      ],
                                      "type": "collection"
                                    }
                                  ],
                                  "type": "collection"
                                },
                                {
                                  "name": "description",
                                  "type": "text"
                                }
                              ],
                              "type": "collection"
                            },
                            {
                              "name": "orgId",
                              "type": "text"
                            },
                            {
                              "name": "server",
                              "spec": [
                                {
                                  "name": "url",
                                  "type": "text"
                                }
                              ],
                              "type": "collection"
                            },
                            {
                              "name": "async",
                              "type": "boolean"
                            }
                          ],
                          "type": "collection"
                        },
                        "type": "array"
                      }
                    ],
                    "type": "collection"
                  },
                  {
                    "name": "firstMessage",
                    "type": "text"
                  },
                  {
                    "name": "endCallFunctionEnabled",
                    "type": "boolean"
                  },
                  {
                    "name": "transcriber",
                    "spec": [
                      {
                        "name": "model",
                        "type": "text"
                      },
                      {
                        "name": "language",
                        "type": "text"
                      },
                      {
                        "name": "provider",
                        "type": "text"
                      }
                    ],
                    "type": "collection"
                  },
                  {
                    "name": "clientMessages",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array"
                  },
                  {
                    "name": "serverMessages",
                    "spec": {
                      "type": "text"
                    },
                    "type": "array"
                  },
                  {
                    "name": "backchannelingEnabled",
                    "type": "boolean"
                  },
                  {
                    "name": "backgroundDenoisingEnabled",
                    "type": "boolean"
                  }
                ],
                "type": "collection"
              }
            ],
            "type": "collection"
          }
        ]
      }
    },
    {
      "id": 74,
      "module": "http:ActionSendDataAPIKeyAuth",
      "version": 3,
      "parameters": {
        "auth": 6894,
        "handleErrors": false
      },
      "mapper": {
        "ca": "",
        "qs": [
          {
            "name": "time_zone",
            "value": "{{1.message.toolCallList[].function.arguments.timezone}}"
          },
          {
            "name": "year",
            "value": "{{substring(1.message.toolCallList[].function.arguments.date; 0; 4)}}"
          },
          {
            "name": "month",
            "value": "{{substring(1.message.toolCallList[].function.arguments.date; 5; 7)}}"
          }
        ],
        "url": "https://adora.neetocal.com/api/external/v1/slots/meeting-with-samuel-ayegbusi",
        "gzip": true,
        "method": "get",
        "headers": [],
        "timeout": "",
        "useMtls": false,
        "bodyType": "",
        "serializeUrl": false,
        "shareCookies": false,
        "parseResponse": false,
        "followRedirect": true,
        "useQuerystring": false,
        "followAllRedirects": false,
        "rejectUnauthorized": true
      },
      "metadata": {
        "designer": {
          "x": 300,
          "y": 150,
          "name": "NeetoCal Get Available Slots"
        },
        "restore": {
          "expect": {
            "qs": {
              "mode": "chose",
              "items": [null, null, null]
            },
            "method": {
              "mode": "chose",
              "label": "GET"
            },
            "headers": {
              "mode": "chose"
            },
            "bodyType": {
              "label": "Empty"
            }
          },
          "parameters": {
            "auth": {
              "label": "neetocal"
            }
          }
        },
        "parameters": [
          {
            "name": "auth",
            "type": "keychain:apikeyauth",
            "label": "Credentials",
            "required": true
          },
          {
            "name": "handleErrors",
            "type": "boolean",
            "label": "Evaluate all states as errors (except for 2xx and 3xx )",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "url",
            "type": "url",
            "label": "URL",
            "required": true
          },
          {
            "name": "serializeUrl",
            "type": "boolean",
            "label": "Serialize URL",
            "required": true
          },
          {
            "name": "method",
            "type": "select",
            "label": "Method",
            "required": true,
            "validate": {
              "enum": [
                "get",
                "head",
                "post",
                "put",
                "patch",
                "delete",
                "options"
              ]
            }
          },
          {
            "name": "headers",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Headers"
          },
          {
            "name": "qs",
            "spec": [
              {
                "name": "name",
                "type": "text",
                "label": "Name",
                "required": true
              },
              {
                "name": "value",
                "type": "text",
                "label": "Value"
              }
            ],
            "type": "array",
            "label": "Query String"
          },
          {
            "name": "bodyType",
            "type": "select",
            "label": "Body type",
            "validate": {
              "enum": ["raw", "x_www_form_urlencoded", "multipart_form_data"]
            }
          },
          {
            "name": "parseResponse",
            "type": "boolean",
            "label": "Parse response",
            "required": true
          },
          {
            "name": "timeout",
            "type": "uinteger",
            "label": "Timeout",
            "validate": {
              "max": 300,
              "min": 1
            }
          },
          {
            "name": "shareCookies",
            "type": "boolean",
            "label": "Share cookies with other HTTP modules",
            "required": true
          },
          {
            "name": "ca",
            "type": "cert",
            "label": "Self-signed certificate"
          },
          {
            "name": "rejectUnauthorized",
            "type": "boolean",
            "label": "Reject connections that are using unverified (self-signed) certificates",
            "required": true
          },
          {
            "name": "followRedirect",
            "type": "boolean",
            "label": "Follow redirect",
            "required": true
          },
          {
            "name": "useQuerystring",
            "type": "boolean",
            "label": "Disable serialization of multiple same query string keys as arrays",
            "required": true
          },
          {
            "name": "gzip",
            "type": "boolean",
            "label": "Request compressed content",
            "required": true
          },
          {
            "name": "useMtls",
            "type": "boolean",
            "label": "Use Mutual TLS",
            "required": true
          },
          {
            "name": "followAllRedirects",
            "type": "boolean",
            "label": "Follow all redirect",
            "required": true
          }
        ]
      }
    },
    {
      "id": 75,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 603876
      },
      "mapper": {
        "model": "gpt-4o-mini",
        "top_p": "1",
        "select": "chat",
        "messages": [
          {
            "role": "system",
            "content": "You're a JSON parser"
          },
          {
            "role": "user",
            "content": "You'll be given JSON of all the available times for a calendar.\nExtract all the start_times for {{1.args.date}} and output in JSON format\n\nkeep the same format of time as in {{74.data}}\n\nOnly output values in valid JSON fromat in curly brackets with date and start times. No other explaination or text required. \n\nExample:\n{\n  \"2024-08-04\": [\n    \"10:00 PM\",\n    \"10:30 PM\",\n    \"11:00 PM\",\n    \"11:30 PM\"\n  ]\n}\n",
            "imageDetail": "auto"
          }
        ],
        "max_tokens": "200",
        "temperature": "1",
        "n_completions": "1",
        "response_format": "text"
      },
      "metadata": {
        "designer": {
          "x": 600,
          "y": 150,
          "name": "Start Times"
        },
        "restore": {
          "expect": {
            "stop": {
              "mode": "chose"
            },
            "model": {
              "mode": "chose",
              "label": "gpt-4o-mini (system)"
            },
            "select": {
              "label": "Create a Chat Completion (GPT and o1 models)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "System"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "imageDetail": {
                    "mode": "chose",
                    "label": "Auto"
                  },
                  "imageInputType": {
                    "mode": "chose",
                    "label": "Empty"
                  }
                }
              ]
            },
            "logit_bias": {
              "mode": "chose"
            },
            "response_format": {
              "mode": "chose",
              "label": "Text"
            },
            "additionalParameters": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "Open AI with credit"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": ["chat", "prompt"]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "options": [
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                    "name": "imageUrl",
                                    "type": "url",
                                    "label": "Image URL"
                                  }
                                ]
                              },
                              {
                                "label": "Image File",
                                "value": "file",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "spec": [
                                      {
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ]
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                  }
                                ]
                              }
                            ],
                            "mappable": false
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "options": [
                              {
                                "label": "Auto",
                                "value": "auto",
                                "default": true
                              },
                              {
                                "label": "High",
                                "value": "high"
                              },
                              {
                                "label": "Low",
                                "value": "low"
                              }
                            ],
                            "advanced": true
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": ["text", "json_object"]
            }
          },
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": ["chat", "prompt"]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "options": [
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                    "name": "imageUrl",
                                    "type": "url",
                                    "label": "Image URL"
                                  }
                                ]
                              },
                              {
                                "label": "Image File",
                                "value": "file",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "spec": [
                                      {
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ]
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                  }
                                ]
                              }
                            ],
                            "mappable": false
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "options": [
                              {
                                "label": "Auto",
                                "value": "auto",
                                "default": true
                              },
                              {
                                "label": "High",
                                "value": "high"
                              },
                              {
                                "label": "Low",
                                "value": "low"
                              }
                            ],
                            "advanced": true
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": ["text", "json_object"]
            }
          }
        ],
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "choices",
            "spec": {
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                },
                {
                  "name": "index",
                  "type": "number",
                  "label": "Index"
                },
                {
                  "name": "logprobs",
                  "type": "text",
                  "label": "Log Probs"
                },
                {
                  "name": "finish_reason",
                  "type": "text",
                  "label": "Finish Reason"
                },
                {
                  "name": "message",
                  "spec": [
                    {
                      "name": "role",
                      "type": "text",
                      "label": "Role"
                    },
                    {
                      "name": "content",
                      "type": "text",
                      "label": "Content"
                    },
                    {
                      "name": "refusal",
                      "type": "text",
                      "label": "Refusal"
                    }
                  ],
                  "type": "collection",
                  "label": "Message"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Choices"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "prompt_tokens",
                "type": "number",
                "label": "Prompt Tokens"
              },
              {
                "name": "completion_tokens",
                "type": "text",
                "label": "Completion Tokens"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              },
              {
                "name": "prompt_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "uinteger",
                    "label": "Cached Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Prompt Tokens Details"
              },
              {
                "name": "completion_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "uinteger",
                    "label": "Reasoning Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Completion Tokens Details"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "system_fingerprint",
            "type": "text",
            "label": "System Fingerprint"
          }
        ]
      }
    },
    {
      "id": 82,
      "module": "openai-gpt-3:CreateCompletion",
      "version": 1,
      "parameters": {
        "__IMTCONN__": 603879
      },
      "mapper": {
        "model": "gpt-4o-mini",
        "top_p": "1",
        "select": "chat",
        "messages": [
          {
            "role": "system",
            "content": "You're a JSON Parser"
          },
          {
            "role": "user",
            "content": "Pare the start times mentioned in this {{75.choices[].message.content}} JSON and output them in a single line separated by comma.\n\nExample: 10:00 PM, 11:00 PM",
            "imageDetail": "auto"
          }
        ],
        "max_tokens": "200",
        "temperature": "1",
        "n_completions": "1",
        "response_format": "text"
      },
      "metadata": {
        "designer": {
          "x": 900,
          "y": 150,
          "name": "Parsed Start Times"
        },
        "restore": {
          "expect": {
            "stop": {
              "mode": "chose"
            },
            "model": {
              "mode": "chose",
              "label": "gpt-4o-mini (system)"
            },
            "select": {
              "label": "Create a Chat Completion (GPT and o1 models)"
            },
            "messages": {
              "mode": "chose",
              "items": [
                {
                  "role": {
                    "mode": "chose",
                    "label": "System"
                  }
                },
                {
                  "role": {
                    "mode": "chose",
                    "label": "User"
                  },
                  "imageDetail": {
                    "mode": "chose",
                    "label": "Auto"
                  },
                  "imageInputType": {
                    "mode": "chose",
                    "label": "Empty"
                  }
                }
              ]
            },
            "logit_bias": {
              "mode": "chose"
            },
            "response_format": {
              "mode": "chose",
              "label": "Text"
            },
            "additionalParameters": {
              "mode": "chose"
            }
          },
          "parameters": {
            "__IMTCONN__": {
              "data": {
                "scoped": "true",
                "connection": "openai-gpt-3"
              },
              "label": "Open AI with credit"
            }
          }
        },
        "parameters": [
          {
            "name": "__IMTCONN__",
            "type": "account:openai-gpt-3",
            "label": "Connection",
            "required": true
          }
        ],
        "expect": [
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": ["chat", "prompt"]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "options": [
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                    "name": "imageUrl",
                                    "type": "url",
                                    "label": "Image URL"
                                  }
                                ]
                              },
                              {
                                "label": "Image File",
                                "value": "file",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "spec": [
                                      {
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ]
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                  }
                                ]
                              }
                            ],
                            "mappable": false
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "options": [
                              {
                                "label": "Auto",
                                "value": "auto",
                                "default": true
                              },
                              {
                                "label": "High",
                                "value": "high"
                              },
                              {
                                "label": "Low",
                                "value": "low"
                              }
                            ],
                            "advanced": true
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": ["text", "json_object"]
            }
          },
          {
            "name": "select",
            "type": "select",
            "label": "Select Method",
            "required": true,
            "validate": {
              "enum": ["chat", "prompt"]
            }
          },
          {
            "name": "temperature",
            "type": "number",
            "label": "Temperature",
            "validate": {
              "max": 2,
              "min": 0
            }
          },
          {
            "name": "top_p",
            "type": "number",
            "label": "Top P",
            "validate": {
              "max": 1,
              "min": 0
            }
          },
          {
            "name": "n_completions",
            "type": "number",
            "label": "Number"
          },
          {
            "name": "frequency_penalty",
            "type": "number",
            "label": "Frequency Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "presence_penalty",
            "type": "number",
            "label": "Presence Penalty",
            "validate": {
              "max": 2,
              "min": -2
            }
          },
          {
            "name": "logit_bias",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "token",
                  "type": "text",
                  "label": "Token ID",
                  "required": true
                },
                {
                  "name": "probability",
                  "type": "number",
                  "label": "Probability",
                  "required": true,
                  "validate": {
                    "max": 100,
                    "min": -100
                  }
                }
              ],
              "type": "collection",
              "label": "Token Probability"
            },
            "type": "array",
            "label": "Token Probability"
          },
          {
            "name": "seed",
            "type": "integer",
            "label": "Seed"
          },
          {
            "name": "stop",
            "spec": {
              "name": "value",
              "type": "text",
              "label": "Stop Sequence"
            },
            "type": "array",
            "label": "Stop Sequences",
            "validate": {
              "maxItems": 4
            }
          },
          {
            "name": "additionalParameters",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "key",
                  "type": "text",
                  "label": "Parameter Name",
                  "required": true
                },
                {
                  "name": "type",
                  "type": "select",
                  "label": "Input Type",
                  "options": [
                    {
                      "label": "Text",
                      "value": "text",
                      "nested": [
                        {
                          "name": "value",
                          "type": "text",
                          "label": "Parameter Value"
                        }
                      ],
                      "default": true
                    },
                    {
                      "label": "Number",
                      "value": "number",
                      "nested": [
                        {
                          "name": "value",
                          "type": "number",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Boolean",
                      "value": "boolean",
                      "nested": [
                        {
                          "name": "value",
                          "type": "boolean",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Date",
                      "value": "date",
                      "nested": [
                        {
                          "name": "value",
                          "type": "date",
                          "label": "Parameter Value"
                        }
                      ]
                    },
                    {
                      "label": "Any",
                      "value": "any",
                      "nested": [
                        {
                          "name": "value",
                          "type": "any",
                          "label": "Parameter Value"
                        }
                      ]
                    }
                  ]
                }
              ],
              "type": "collection",
              "label": "Input Parameter"
            },
            "type": "array",
            "label": "Other Input Parameters"
          },
          {
            "name": "model",
            "type": "select",
            "label": "Model",
            "required": true
          },
          {
            "name": "max_tokens",
            "type": "uinteger",
            "label": "Max Completion Tokens"
          },
          {
            "name": "messages",
            "spec": {
              "name": "value",
              "spec": [
                {
                  "name": "role",
                  "type": "select",
                  "label": "Role",
                  "options": {
                    "store": [
                      {
                        "label": "System",
                        "value": "system",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      },
                      {
                        "label": "User",
                        "value": "user",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          },
                          {
                            "name": "imageInputType",
                            "type": "select",
                            "label": "Image Input Type",
                            "options": [
                              {
                                "label": "URL",
                                "value": "url",
                                "nested": [
                                  {
                                    "help": "Make sure to use a publically accessible URL.\nYou can test if your image is publically accessible by opening the link in an incognito tab.",
                                    "name": "imageUrl",
                                    "type": "url",
                                    "label": "Image URL"
                                  }
                                ]
                              },
                              {
                                "label": "Image File",
                                "value": "file",
                                "nested": [
                                  {
                                    "name": "imageFile",
                                    "spec": [
                                      {
                                        "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`.",
                                        "name": "imageFilename",
                                        "type": "filename",
                                        "label": "Image Filename",
                                        "semantic": "file:name",
                                        "extension": [
                                          "jpg",
                                          "jpeg",
                                          "png",
                                          "webp",
                                          "gif"
                                        ]
                                      },
                                      {
                                        "name": "imageData",
                                        "type": "buffer",
                                        "label": "Image Data",
                                        "semantic": "file:data"
                                      }
                                    ],
                                    "type": "collection",
                                    "label": "Image"
                                  }
                                ]
                              }
                            ],
                            "mappable": false
                          },
                          {
                            "name": "imageDetail",
                            "type": "select",
                            "label": "Image Detail",
                            "options": [
                              {
                                "label": "Auto",
                                "value": "auto",
                                "default": true
                              },
                              {
                                "label": "High",
                                "value": "high"
                              },
                              {
                                "label": "Low",
                                "value": "low"
                              }
                            ],
                            "advanced": true
                          }
                        ]
                      },
                      {
                        "label": "Assistant",
                        "value": "assistant",
                        "nested": [
                          {
                            "help": "Text content of the message on behalf of the selected __Role__.",
                            "name": "content",
                            "type": "text",
                            "label": "Text Content"
                          }
                        ]
                      }
                    ]
                  },
                  "required": true
                }
              ],
              "type": "collection",
              "label": "Message"
            },
            "type": "array",
            "label": "Messages",
            "required": true
          },
          {
            "name": "response_format",
            "type": "select",
            "label": "Response Format",
            "validate": {
              "enum": ["text", "json_object"]
            }
          }
        ],
        "interface": [
          {
            "name": "result",
            "type": "any",
            "label": "Result"
          },
          {
            "name": "id",
            "type": "text",
            "label": "ID"
          },
          {
            "name": "object",
            "type": "text",
            "label": "Object"
          },
          {
            "name": "created",
            "type": "date",
            "label": "Created"
          },
          {
            "name": "model",
            "type": "text",
            "label": "Model"
          },
          {
            "name": "choices",
            "spec": {
              "spec": [
                {
                  "name": "text",
                  "type": "text",
                  "label": "Text"
                },
                {
                  "name": "index",
                  "type": "number",
                  "label": "Index"
                },
                {
                  "name": "logprobs",
                  "type": "text",
                  "label": "Log Probs"
                },
                {
                  "name": "finish_reason",
                  "type": "text",
                  "label": "Finish Reason"
                },
                {
                  "name": "message",
                  "spec": [
                    {
                      "name": "role",
                      "type": "text",
                      "label": "Role"
                    },
                    {
                      "name": "content",
                      "type": "text",
                      "label": "Content"
                    },
                    {
                      "name": "refusal",
                      "type": "text",
                      "label": "Refusal"
                    }
                  ],
                  "type": "collection",
                  "label": "Message"
                }
              ],
              "type": "collection"
            },
            "type": "array",
            "label": "Choices"
          },
          {
            "name": "usage",
            "spec": [
              {
                "name": "prompt_tokens",
                "type": "number",
                "label": "Prompt Tokens"
              },
              {
                "name": "completion_tokens",
                "type": "text",
                "label": "Completion Tokens"
              },
              {
                "name": "total_tokens",
                "type": "number",
                "label": "Total Tokens"
              },
              {
                "name": "prompt_tokens_details",
                "spec": [
                  {
                    "name": "cached_tokens",
                    "type": "uinteger",
                    "label": "Cached Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "image_tokens",
                    "type": "uinteger",
                    "label": "Image Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Prompt Tokens Details"
              },
              {
                "name": "completion_tokens_details",
                "spec": [
                  {
                    "name": "reasoning_tokens",
                    "type": "uinteger",
                    "label": "Reasoning Tokens"
                  },
                  {
                    "name": "text_tokens",
                    "type": "uinteger",
                    "label": "Text Tokens"
                  },
                  {
                    "name": "audio_tokens",
                    "type": "uinteger",
                    "label": "Audio Tokens"
                  }
                ],
                "type": "collection",
                "label": "Completion Tokens Details"
              }
            ],
            "type": "collection",
            "label": "Usage"
          },
          {
            "name": "system_fingerprint",
            "type": "text",
            "label": "System Fingerprint"
          }
        ]
      }
    },
    {
      "id": 77,
      "module": "builtin:BasicRouter",
      "version": 1,
      "mapper": null,
      "metadata": {
        "designer": {
          "x": 1200,
          "y": 150
        }
      },
      "routes": [
        {
          "flow": [
            {
              "id": 78,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Available",
                "conditions": [
                  [
                    {
                      "a": "{{82.choices[].message.content}}",
                      "b": "{{1.message.toolCallList[].function.arguments.time}}",
                      "o": "text:contain"
                    }
                  ]
                ]
              },
              "mapper": {
                "body": "{\n\"results\": [\n    {\n      \"toolCallId\": {{1.message.toolCalls[].id}},\n      \"result\": \"{{1.message.toolCalls[].function.arguments.time}} is available!\"\n    }\n  ]\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": -150
                },
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "status",
                    "type": "uinteger",
                    "label": "Status",
                    "required": true,
                    "validate": {
                      "min": 100
                    }
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true,
                        "validate": {
                          "max": 4096
                        }
                      }
                    ],
                    "type": "array",
                    "label": "Custom headers",
                    "validate": {
                      "maxItems": 16
                    }
                  }
                ]
              }
            }
          ]
        },
        {
          "flow": [
            {
              "id": 79,
              "module": "gateway:WebhookRespond",
              "version": 1,
              "parameters": {},
              "filter": {
                "name": "Not Available",
                "conditions": [
                  [
                    {
                      "a": "{{82.choices[].message.content}}",
                      "b": "{{1.message.toolCalls[].function.arguments.time}}",
                      "o": "text:notcontain"
                    }
                  ]
                ]
              },
              "mapper": {
                "body": "{{75.choices[].message}}{\n  \"results\": [\n    {\n      \"result\": \"{{1.message.toolCallList[].function.arguments.time}} is not available. But you can book for {{82.choices[].message.content}}\",\n      \"toolCallId\": \"{{1.message.toolCalls[].id}}\"\n    }\n  ]\n}",
                "status": "200",
                "headers": []
              },
              "metadata": {
                "designer": {
                  "x": 1500,
                  "y": 150
                },
                "restore": {
                  "expect": {
                    "headers": {
                      "mode": "chose"
                    }
                  }
                },
                "expect": [
                  {
                    "name": "status",
                    "type": "uinteger",
                    "label": "Status",
                    "required": true,
                    "validate": {
                      "min": 100
                    }
                  },
                  {
                    "name": "body",
                    "type": "any",
                    "label": "Body"
                  },
                  {
                    "name": "headers",
                    "spec": [
                      {
                        "name": "key",
                        "type": "text",
                        "label": "Key",
                        "required": true,
                        "validate": {
                          "max": 256
                        }
                      },
                      {
                        "name": "value",
                        "type": "text",
                        "label": "Value",
                        "required": true,
                        "validate": {
                          "max": 4096
                        }
                      }
                    ],
                    "type": "array",
                    "label": "Custom headers",
                    "validate": {
                      "maxItems": 16
                    }
                  }
                ]
              }
            }
          ]
        }
      ]
    }
  ],
  "metadata": {
    "instant": true,
    "version": 1,
    "scenario": {
      "roundtrips": 1,
      "maxErrors": 3,
      "autoCommit": true,
      "autoCommitTriggerLast": true,
      "sequential": false,
      "slots": null,
      "confidential": false,
      "dataloss": false,
      "dlq": false,
      "freshVariables": false
    },
    "designer": {
      "orphans": [],
      "notes": [
        {
          "id": 54,
          "text": "",
          "filter": false
        },
        {
          "id": 54,
          "text": "",
          "filter": false
        },
        {
          "id": 54,
          "text": "{\n  \"additional_properties\": false,\n  \"type\": \"object\",\n  \"properties\": {\n    \"name\": {\n      \"type\": \"string\",\n      \"description\": \"The full name of the individual.\"\n    },\n    \"date\": {\n      \"type\": \"string\",\n      \"format\": \"date\",\n      \"description\": \"The date in YYYY-MM-DD format.\"\n    },\n    \"time\": {\n      \"type\": \"string\",\n      \"format\": \"time\",\n      \"description\": \"The time in HH:MM AM/PM format.\"\n    },\n    \"timezone\": {\n      \"type\": \"string\",\n      \"description\": \"The timezone in IANA Time Zone Database format (e.g., 'America/New_York').\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"format\": \"email\",\n      \"description\": \"The email address of the individual.\"\n    }\n  },\n  \"required\": [\n    \"name\",\n    \"email\",\n    \"date\",\n    \"time\",\n    \"timezone\"\n  ],\n  \"_schema\": \"http://json-schema.org/draft-07/schema#\"\n}",
          "filter": false
        }
      ]
    },
    "zone": "us2.make.com",
    "notes": []
  }
}
